In [1]:
from sklearn import linear_model
from sklearn.metrics import roc_auc_score
from sklearn.model_selection  import train_test_split

In [2]:
# logreg = linear_model.LogisticRegression()
# logreg.fit(X, y)
# logreg.coef_
# logreq.intercept_


# predict_proba can take ina single datapoint or a dataframe
#logreg.predict_proba()

In [3]:
# roc_auc_score(true_target, prop_target)

# numpy.corrcoef(basetable["v1"], basetable["v2"])

In [4]:
# x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= 0.4, stratify = Y)

## Part I

## Part II

## Part III Data Preparation

### 1. Describe your data preparation goals and the data manipulations that will be used to achieve the goal

### 2. Describe your data preparation goals and the data manipulations that will be used to achieve the goal

### 3. Explain the steps used to prepare the data for the analysis, including the annotated code.

- TotalCharge
- Additional_charges
- Initial_days
- Services
- Initial_admin
- Complication_risk
- VitD_supp
- Full_meals_eaten
- Doc_visits
- ReAdmis

##### Importing Libraries

In [5]:
 import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##### Importing Data

In [6]:
df = pd.read_csv('./medical_clean.csv')

In [7]:
# show dataframe head for reference
df.head()

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
0,1,C412403,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,3a83ddb66e2ae73798bdf1d705dc0932,Eva,AL,Morgan,35621,34.34960,-86.72508,...,3726.702860,17939.403420,3,3,2,2,4,3,3,4
1,2,Z919181,d2450b70-0337-4406-bdbb-bc1037f1734c,176354c5eef714957d486009feabf195,Marianna,FL,Jackson,32446,30.84513,-85.22907,...,4193.190458,17612.998120,3,4,3,4,4,4,3,3
2,3,F995323,a2057123-abf5-4a2c-abad-8ffe33512562,e19a0fa00aeda885b8a436757e889bc9,Sioux Falls,SD,Minnehaha,57110,43.54321,-96.63772,...,2434.234222,17505.192460,2,4,4,4,3,4,3,3
3,4,A879973,1dec528d-eb34-4079-adce-0d7a40e82205,cd17d7b6d152cb6f23957346d11c3f07,New Richland,MN,Waseca,56072,43.89744,-93.51479,...,2127.830423,12993.437350,3,5,5,3,4,5,5,5
4,5,C544523,5885f56b-d6da-43a3-8760-83583af94266,d2f0425877b10ed6bb381f3e2579424a,West Point,VA,King William,23181,37.59894,-76.88958,...,2113.073274,3716.525786,2,1,3,3,5,3,4,3

In [8]:
# show df types for reference
df = df[['ReAdmis', 'TotalCharge', 'Additional_charges', 'Initial_days', 'Services', 'Doc_visits', 'Complication_risk', 'vitD_supp', 'Initial_admin', 'Full_meals_eaten']]
df.head()

,ReAdmis,TotalCharge,Additional_charges,Initial_days,Services,Doc_visits,Complication_risk,vitD_supp,Initial_admin,Full_meals_eaten
0,No,3726.702860,17939.403420,10.585770,Blood Work,6,Medium,0,Emergency Admission,0
1,No,4193.190458,17612.998120,15.129562,Intravenous,4,High,1,Emergency Admission,2
2,No,2434.234222,17505.192460,4.772177,Blood Work,4,Medium,0,Elective Admission,1
3,No,2127.830423,12993.437350,1.714879,Blood Work,4,Medium,0,Elective Admission,1
4,No,2113.073274,3716.525786,1.254807,CT Scan,5,Low,2,Elective Admission,0

In [9]:
print(df['Services'].unique())

['Blood Work' 'Intravenous' 'CT Scan' 'MRI']

In [10]:
blood_work = df['Services'] == 'Blood Work'
blood_work = blood_work.map({True: 1, False: 0})

intravenous = df['Services'] == 'Intravenous'
intravenous = intravenous.map({True: 1, False: 0})

ct_scan = df['Services'] == 'CT Scan'
ct_scan = ct_scan.map({True: 1, False: 0})

df['Blood Work'] = blood_work
df['Intravenous'] = intravenous
df['CT Scan'] = ct_scan

df.drop(columns=['Services'], inplace=True)

df.columns

Index(['ReAdmis', 'TotalCharge', 'Additional_charges', 'Initial_days',
       'Doc_visits', 'Complication_risk', 'vitD_supp', 'Initial_admin',
       'Full_meals_eaten', 'Blood Work', 'Intravenous', 'CT Scan'],
      dtype='object')

In [11]:
medium_risk = df['Complication_risk'] == 'Medium'
medium_risk = medium_risk.map({True: 1, False: 0})

high_risk = df['Complication_risk'] == 'High'
high_risk = high_risk.map({True: 1, False: 0})

df['High Risk'] = high_risk
df['Medium Risk'] = medium_risk

df.drop(columns=['Complication_risk'], inplace=True)

df.columns

Index(['ReAdmis', 'TotalCharge', 'Additional_charges', 'Initial_days',
       'Doc_visits', 'vitD_supp', 'Initial_admin', 'Full_meals_eaten',
       'Blood Work', 'Intravenous', 'CT Scan', 'High Risk', 'Medium Risk'],
      dtype='object')

In [12]:
er = df['Initial_admin'] == 'Emergency Admission'
er = er.map({True: 1, False: 0})

elective_admin = df['Initial_admin'] == 'Elective Admission'
elective_admin = elective_admin.map({True: 1, False: 0})

df['Emergency Admission'] = er
df['Elective Admission'] = elective_admin

df.drop(columns=['Initial_admin'], inplace=True)

df.columns

Index(['ReAdmis', 'TotalCharge', 'Additional_charges', 'Initial_days',
       'Doc_visits', 'vitD_supp', 'Full_meals_eaten', 'Blood Work',
       'Intravenous', 'CT Scan', 'High Risk', 'Medium Risk',
       'Emergency Admission', 'Elective Admission'],
      dtype='object')

In [13]:
readmis = df['ReAdmis'] == 'Yes'
readmis = readmis.map({True: 1, False: 0})
df['ReAdmis'] = readmis

## Part IV

## Part V

## Part VI